<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card>
      <nb-card-header>Datepicker comum</nb-card-header>
      <nb-card-body>
        <input nbInput
               placeholder=""
               [nbDatepicker]="formpicker">
        <nb-datepicker #formpicker></nb-datepicker>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card>
      <nb-card-header>Datepicker com intervalo</nb-card-header>
      <nb-card-body>
        <input nbInput placeholder="" [nbDatepicker]="rangepicker">
        <nb-rangepicker #rangepicker></nb-rangepicker>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card>
      <nb-card-header>Datepicker com valores mínimo e máximo</nb-card-header>
      <nb-card-body>
        <input nbInput placeholder="" [nbDatepicker]="picker">
        <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
      </nb-card-body>
    </nb-card>
  </div>
</div>
